name: PyTest
on: push

jobs:
  CI:
    runs-on: ubuntu-latest
    timeout-minutes: 10


    steps:
      - name: Check-out Repository Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.5.1

      - name: Install Dependencies
        run: poetry install

      - name: Testing
        run: pytest -vv
